*
!.showcase.yml
!README.md
!J_Vision.pdf
!Error_Correcting_Codes.pdf
!Ben_Meyers_Resume.pdf
!ShannonKelly.pdf


.DS_Store
Affinity.pdf
Attention_Apprehension.pdf
BlackScholesCT.pdf
Fourier_Quantum_Uncertainty.pdf
Generation.pdf
On_Computable_Meanings.pdf
Why_Overparameterization_Works.pdf
j-vision.pdf